 .typography {
    height: 400px;
    background-color: $purple;
  }

  .typography-text {
    font-size: 2rem;
  }

  .carousel-title {
    color: $grey;
    text-transform: uppercase;
    font-size: .8rem;
  }

  .carousel-indicators {
    border-radius: 50%;
  }